<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="search">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab" routerLink="create">Customer Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="treeview">Customer Tree View Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="exemption">Exemption Selection</a>
  </li>
</ul>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Ultimate Benificial Owner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="search">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" routerLink="create">CustomerInformation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="treeview">CustomerTreeview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="exemption">CustomerExemptions</a>
      </li>
    </ul>
  </div>
</nav>
<div style="float: left;" class="container">
  <router-outlet></router-outlet>
</div>

