<body>
  <div class="container">
    <form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
      <br />
      <fieldset>
        <div class='row'>
          <div class="col-md-6">
            <div class="form-group">
              <!--<label for="entityName">Entity Name</label>-->
              <input type="text" class="form-control" formControlName="entityName" id="entityName" placeholder="Entity Name*">
              <div *ngIf="(createCustomerForm.get('entityName').touched ||
                                            createCustomerForm.get('entityName').dirty) &&
                                            createCustomerForm.get('entityName').errors"
                   class="error">

                <span *ngIf="createCustomerForm.get('entityName').errors.required">
                  Please enter Entity Name*
                </span>
                <span *ngIf="createCustomerForm.get('entityName').errors.maxlength ">
                  The entity name should not be greater than 40 characters.
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="classificationCode">Classification Code</label>-->
              <input type="text" class="form-control" formControlName="classificationCode" id="classificationCode" placeholder="Classification Code*">
              <div *ngIf="(createCustomerForm.get('classificationCode').touched ||
                                            createCustomerForm.get('classificationCode').dirty) &&
                                            createCustomerForm.get('classificationCode').errors" class="error">
                <span *ngIf="createCustomerForm.get('classificationCode').errors.required">
                  Please Enter ClassificationCode*.
                </span>
                <span *ngIf="createCustomerForm.get('classificationCode').errors.maxlength ">
                  The Classification Code must not be greater than 50 characters.
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="formationCountryCode">Formation CountryCode</label>-->
              <input type="text" class="form-control" formControlName="formationCountryCode" id="formationCountryCode" placeholder="Formation Country Code">
              <div *ngIf="(createCustomerForm.get('formationCountryCode').touched ||
                                            createCustomerForm.get('formationCountryCode').dirty) &&
                                            createCustomerForm.get('formationCountryCode').errors" class="error">
                <!--<span *ngIf="createCustomerForm.get('formationCountryCode').errors.required">
                  Please enter formationCountryCode.
                </span>-->
                <span *ngIf="createCustomerForm.get('formationCountryCode').errors.maxlength ">
                  formation Country Code must not be greater than 5 characters.
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="businessCountryCode">Business Country Code</label>-->
              <input type="text" class="form-control" id="businessCountryCode" formControlName="businessCountryCode" placeholder="Business Country Code">
              <div *ngIf="(createCustomerForm.get('businessCountryCode').touched ||
                                            createCustomerForm.get('businessCountryCode').dirty) &&
                                            createCustomerForm.get('businessCountryCode').errors" class="error">
                <!--<span *ngIf="createCustomerForm.get('businessCountryCode').errors.required">
                  Please enter business Country Code.
                </span>-->
                <span *ngIf="createCustomerForm.get('businessCountryCode').errors.maxlength ">
                  Business Country Code Code must not be greater than 5 characters.
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="permanentCountryCode">Permanent Country Code</label>-->
              <input type="text" class="form-control" formControlName="permanentCountryCode" placeholder="Permanent Country Code">
              <div *ngIf="(createCustomerForm.get('permanentCountryCode').touched ||
                                            createCustomerForm.get('permanentCountryCode').dirty) &&
                                            createCustomerForm.get('permanentCountryCode').errors" class="error">
                <!--<span *ngIf="createCustomerForm.get('permanentCountryCode').errors.required">
                  Please enter Permanent CountryCode.
                </span>-->
                <span *ngIf="createCustomerForm.get('permanentCountryCode').errors.maxlength ">
                  Permenant Country Code Code must not be greater than 5 characters.
                </span>
              </div>
            </div>      
            <!--[disabled]="createCustomerForm.valid"-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!--<label for="ein">EIN</label>-->
              <input type="text" class="form-control" formControlName="ein" id="ein" placeholder="EIN*">
              <div *ngIf="(createCustomerForm.get('ein').touched ||
                                createCustomerForm.get('ein').dirty) &&
                                createCustomerForm.get('ein').errors" class="error">
                <span *ngIf="createCustomerForm.get('ein').errors.required">
                  Please enter EIN.
                </span>
                <span *ngIf="createCustomerForm.get('ein').errors.maxlength ">
                  The EIN should not be greater than 20 characters.
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="formationZipCode">Formation Zip/Postal Code</label>-->
              <input type="text" class="form-control" formControlName="formationZipCode" id="formationZipCode" placeholder="Formation Zip Code">
              <div *ngIf="(createCustomerForm.get('formationZipCode').touched ||
                                            createCustomerForm.get('formationZipCode').dirty) &&
                                            createCustomerForm.get('formationZipCode').errors" class="error">
                <!--<span *ngIf="createCustomerForm.get('formationZipCode').errors.required">
                  Please enter formation ZipCode.
                </span>-->
                <div class="form-group has-danger">
                  <input *ngIf="createCustomerForm.get('formationZipCode').errors.validateZIP" type="text" class="form-control is-invalid">
                  <div class="form-control-feedback">Please Enter Valid Formation Zip Code</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="businessZipCode">Business Zip Code</label>-->
              <input type="text" class="form-control" formControlName="businessZipCode" id="businessZipCode" placeholder="Business Zip Code">
              <div *ngIf="(createCustomerForm.get('businessZipCode').touched ||
                    createCustomerForm.get('businessZipCode').dirty) &&
                        createCustomerForm.get('businessZipCode').errors" class="error">
                <div class="form-group has-danger">
                  <input *ngIf="createCustomerForm.get('businessZipCode').errors.validateZIP" type="text" class="form-control is-invalid">
                  <div class="form-control-feedback">Please Enter Valid Business ZipCode</div>
                 </div>
                </div>
            </div>
            <div class="form-group">
              <!--<label for="permanentZipCode"> Permanent Zip Code</label>-->
              <input type="text" class="form-control" formControlName="permanentZipCode" id="permanentZipCode" placeholder="Permanent Zip Code">
               <div *ngIf="(createCustomerForm.get('businessZipCode').touched ||
                    createCustomerForm.get('permanentZipCode').dirty) &&
                        createCustomerForm.get('permanentZipCode').errors" class="error">
              <div class="form-group has-danger">
                <input *ngIf="createCustomerForm.get('permanentZipCode').errors.validateZIP" type="text" class="form-control is-invalid">
                <div class="form-control-feedback">Please Enter Valid Permanent ZipCode</div>
              </div>
            </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary" >Save</button>
          <!--<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>-->
        </div>
      </fieldset>
    </form>

  </div>
</body>
<style>
  .error {
    color: #d93a3e;
  }

  #year {
    width: 50px;
  }
</style>
